/* General Styling */
body {
  color: var(--clr-neutral-dark-gray-blue);
  font-family: var(--ff-default);
  font-size: var(--fs-400);
}

/* Media Query for Desktop Responsiveness */
@media screen and (min-width: 37.5em) {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
}

/* Styling of all elements sharing the same class */
.result-summary {
  --padding: 1.5rem;
  --border-radius: 2rem;
  display: grid;
  max-width: 46rem;
}

.section-title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-500);
  margin-bottom: 0.5rem;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.grid-section {
  display: grid;
  align-content: start;
  gap: 0.5rem;
}
