/* General Styling */
body {
  color: var(--clr-neutral-dark-gray-blue);
  font-family: var(--ff-default);
  font-size: var(--fs-400);
}

/* Media Query for Desktop Responsiveness */
@media screen and (min-width: 37.5em) {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
  }
}

/* Styling of all elements sharing the same class */

/* Main Container Styling */
.result-summary {
  --padding: 2rem;
  --border-radius: 2rem;
  display: grid;
  max-width: 46rem;
}

@media screen and (min-width: 37.5em) {
  .result-summary {
    grid-template-columns: 1fr 1fr;
    box-shadow: rgba(149, 157, 165, 0.2) 10px 15px 24px;
    border-radius: var(--border-radius);
    overflow: hidden;
  }
}

/* Your Result styling */
.section-title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-500);
}

@media screen and (min-width: 37.5em) {
  .section-title {
    font-size: var(--fs-600);
  }
}

/* Styling for children in summary item containers */
.flex-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

/* Styling for elements classed with same title */
.grid-section {
  display: grid;
  align-content: start;
  gap: 1rem;
}
