.attribution {
    font-size: 0.8rem;
    margin: .1rem 1rem 1rem;
    text-align: center;
}

@media screen and (min-width: 37.5em) {
    .attribution {
        font-size: var(--fs-400);
        margin: 0;
    }
}